*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  /* color: white; */
}

html,body{
  height: 100%;
  width: 100%;
}

.parent{
  min-height: 100vh;
  width: 100%;
  background-color: #000814;
  padding: 20px;
  display: flex;
   flex-wrap: wrap;
  gap: 30px;
}

.card{
  height: 280px;
  width: 250px;
  background-color: #fff;
  border-radius: 25px;
  padding: 20px;
  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
 
}

.card .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top img{
  height: 40px;
  width: 40px;
  border: 1px solid #dadada;
  border-radius: 50%;
  padding: 2px;
  object-fit: cover
}

.top button{
  padding: 5px 10px;
  border: 1px solid #dadada;
  color: #434343;
  border-radius: 5px;
  font-size: 12px;
  background-color: transparent;
  
}
hr{
  opacity: 0.2;
  margin-top: 70px;
}
/* Main Parts */

.center{
 margin-top: 15px;
  /* background-color: red; */
}
.center h3{
  font-size: 13px;
  color: #504e4e;
  
}
.center h3 span{
  font-size: 10px;
  color: #b5b1b1;
  font-weight: 100;
}
.center h2{
  font-size: 15px;
  margin: 5px 0;
}
.card .level{
  display: flex;
  align-items: center;
  gap: 5px;
  
}
.card .level button{
  border-radius: 5px;
  padding: 3px 8px;
  background-color: #dbdbdb;
  font-size: 10px;
  font-weight: 500;
  border: none;
  cursor: pointer;;
}
/* Bottom parts */
.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  /* margin-bottom: 10px; */
}

.bottom h3{
  font-size: 14px;
  
}
.bottom p{
  font-size: 11px;
  color: #b5b1b1;
  margin-top: 4px;
}

.bottom .apply{
  background-color: black;
  color: white;
  padding: 4px 8px;
  border-radius: 5px;
  font-size: 11px;

}