*{
    margin: 0;
    padding: 0;
    
}

body{
    background-color: black;
    color: white;
}

h1{
    font-size: 3rem;
    color: white;
}
.nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    background-color: #49111c;

}

.nav h2{
    font-size: 3rem;
}

.nav-links{
    display: flex;
    align-items: center;
    gap: 6rem;
    
}

.nav-links a{
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
}